gpyfft.egg-info
.pytest*
gpyfftlib.cpp
*.egg
*.egg-info
*.pyc
.DS_Store
.cache
.coverage
.eggs
.ropeproject
.tox
build
dist
htmlcov/
*.so
.cache
.ipynb_checkpoints
.vscode/
__pycache__/
repoexclude/
.spyproject/